---
import heroBannerImage from "../../assets/hero-banner-image.webp";
import { Image } from "@astrojs/image/components";
---

<section class="bg-beige w-full py-16">
  <div class="container">
    <div class="flex flex-col">
      <h1 class="leading-[1.1] text-base font-bold">
        FUTURE <br /><span class="font-normal"> MARKET</span>
      </h1>
      <div class="flex justify-between pb-10 lg:pb-64 xl:mb-32 mt-16 relative">
        <div class="z-10 flex flex-col gap-6">
          <h2
            class="text-green text-5xl sm:text-6xl md:text-7xl font-bold !leading-[1.15] sm:whitespace-nowrap"
          >
            Jsme jednička
            <br />
            <span class="text-dark-green"> v lead marketingu</span>
          </h2>
          <p class="text-2xl leading-9 max-w-sm">
            Jsme jedinečná možnost pro růst vašeho businessu. Pro naše klienty
            poskytujeme kvalitní zákaznické portfolio.
          </p>
        </div>
        <Image
          class="hidden h-auto w-screen lg:block max-w-[634px] absolute bottom-0 xl:top-0 right-0"
          src={heroBannerImage}
          alt=""
        />
      </div>
    </div>
  </div>
</section>
