---
---

<!DOCTYPE html>
<html
  lang="cs"
  class="scroll-smooth scrollbar-thin scrollbar-thumb-dark-green scrollbar-track-rounded-xl scrollbar-track-gray-100"
>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/gif" href="/logo.gif" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>FUTURE MARKET</title>
  </head>
  <body>
    <slot />

    <footer class="bg-dark-green text-beige w-full py-16 sm:py-56">
      <div class="container">
        <div class="flex flex-col justify-between gap-12 text-lg">
          <h3 class="text-center text-5xl sm:text-6xl font-bold">
            FUTURE MARKET s.r.o
          </h3>

          <div class="flex flex-col sm:flex-row gap-8 sm:gap-12">
            <div class="flex flex-col flex-1 gap-4 items-center">
              <h4 class="text-4xl font-bold text-light-green">Telefon</h4>
              <a
                href="tel:+420605976535"
                class="text-center text-lg hover:underline">+420 605 976 535</a
              >
            </div>
            <div class="flex flex-col flex-1 gap-4 items-center">
              <h4 class="text-4xl font-bold text-light-green">Email</h4>
              <a
                href="mailto:office@futuremarket.cz"
                class="text-center text-lg hover:underline"
                >office@futuremarket.cz</a
              >
            </div>
            <div class="flex flex-col flex-1 gap-5 items-center">
              <h4 class="text-4xl font-bold text-light-green">Adresa</h4>
              <address class="not-italic">
                <ul class="text-center text-lg">
                  <li>Slavojova 579/9</li>
                  <li>128 00 Praha</li>
                  <li>IČO: 11883715</li>
                </ul>
              </address>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
